body
    {background:rosybrown;}
    .intro{color:rgb(255, 105, 180);background:rgb(223,13,174); font-family:cursive;}
    
    .person{color:rgb(150, 6, 155);}
    #video1
        {display:block;
        margin:0 auto;
        float: left;}
    #video2
        {display:block;
        margin:0 auto;
        float: right;}
    #squat 
        {width: 200px;
        height:200px;
        float: left;}


    #arm_flex
        {width: 200px;
        height:200px;
        float: right;}

    h1{margin-left: 300px; margin-right: 300px;}

    h2{margin-left: 300px; margin-right: 300px;}

    h3{margin-left: 300px; margin-right: 300px;}

    {margin-left: 300px; margin-right: 300px;}
  
  
    p.a {margin-left: 300px; margin-right: 300px;
        font-family: verdana;
        font-size: 20px;}
    p.b {margin-left: 300px; margin-right: 300px;
        font-family: verdana;
        font-size: 20px;}
    p.c {margin-left: 300px; margin-right: 300px;
        font-family: verdana;
        font-size: 20px;}

  ul{margin-left: 500px; margin-right: 500px;
    font-size: 20px;
    font-family:cursive;
    }

